@charset "UTF-8";
*{
    margin: 0%;
    padding: 0px;
}
Html, body{
    min-height: 100vh;
    background-color: darkgrey;

}
header {
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;

}
header, footer > p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: ;
}

 header a:hover, footer a:hover{
    text-decoration: underline;
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bolder;
 }
 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
 }

 section.normal{
        background-color: white;
        color: black;

 }
 section.imagem{
    background-color: rgba(0, 0, 0, 0.776);
    color: white;
    
 }
 section.imagem > P{
    background-color: rgba(0, 0, 0, 0.173);
    width: 400PX;
 }